body{

    background-image: url("https://st1.uvnimg.com/dims4/default/3b727d9/2147483647/thumbnail/1024x576%3E/quality/75/?url=https%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2Fassets%2Fvixes%2Fbtg%2Fdonde-esta-mi-hamburguesa-15-gifs-de-homero-disfrutando-el-placer-de-comer-1.png");
    
    background-size: cover;

    color: rgb(3, 1, 0);
  
    font-size: 25px;
  
    font-family: Helvetica;
  
  }
  
  h1 {
    font-family: 'Lucida Grande';
    color: rgb(15,15,15);
    font-weight: bold;
    font-size: 50px;
    border: 20px;
    text-align: center;
  }
  
  a {
  
    color: rgb(14, 14, 12);
  
  }
  
  a:hover {
  
    text-decoration: none;
  
    color: rgb(231, 211, 25);
  
  }
  
  #footer{
    padding: 30px;
    text-align: center;
    
  }
  
  .tarjeta{
  
    padding: 50px;
    font-weight: lighter;
  
  }

  #footer a {
    color: rgb(7, 7, 7);
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
  }

  ul{
    list-style: none;
  }
  
  .listahorizontal li {
    display:inline;
    padding-left:50px;
    padding-right:50px;
}

  #footer a:hover {
    color: rgb(247, 242, 228);
  }

  